{% extends 'pages/base.html' %}

{% block title %} Contact - Online Store {% endblock %}

{% block header_title %} Contact {% endblock %}

{% block content %} 
<div class="container">
  <div class="row">
    <div class="col-lg-4 ms-auto">
      <p class="lead"><div class="text-center" >
        Application Email
        jdlopezg1@eafit.edu.co
        </div>
      </p>
    </div>
    <div class="col-lg-4 me-auto">
      <p class="lead">
        <section>
        <div class="text-center" >
          Address: Cll97
        </section>
      </div>
    </p>
    </div>
    <div class="col-lg-4 me-auto">
      <p class="lead">
        <section>
        <div class="text-center" >
        Phone Number: 3006229971
        </section>
      </div>
    </p>
    </div>
  </div>
</div>
{% endblock %}